<% layout('layouts/template') %>

<section class="menu-section">

    <%- include('../partials/order') %>

    <div class="d-flex justify-content-around mt-5 mb-5">
        <div class="card mb-auto" style="width: 15rem;">
            <div class="card-header">
                <h5>
                    <%=starter[0].name%>
                </h5>
            </div>
            <ul class="list-group list-group-flush">
            <% for(let i = 0; i < starter[0].dishes.length; i++) { %>
                <li class="list-group-item">
                    <div class="d-flex justify-content-around">
                        <h6 class="food">
                            <%=starter[0].dishes[i].food%>
                        </h6>
                        <h6 class="price">
                           <%=starter[0].dishes[i].price%>
                        </h6>
                    </div>
                    
                    <p class="details">
                       <%=starter[0].dishes[i].details%>
                    </p>
                    <%- include('../partials/menu_buttons') %>
                           
                </li>
            <% } %>     
            </ul>
        </div>
        <div class="card mb-auto" style="width: 15rem;">
            <div class="card-header">
                <h5>
                    <%=salad[0].name%>
                </h5>
            </div>
            <ul class="list-group list-group-flush">
            <% for(let i = 0; i < salad[0].dishes.length; i++) { %>
                <li class="list-group-item">
                    <div class="d-flex justify-content-around">
                        <h6 class="food">
                            <%=salad[0].dishes[i].food%>
                        </h6>
                        <h6 class="price">
                           <%=salad[0].dishes[i].price%>
                        </h6>
                    </div>
                    
                    <p class="details">
                       <%=salad[0].dishes[i].details%>
                    </p>
                    <%- include('../partials/menu_buttons') %>       
                </li>
            <% } %>     
            </ul>
        </div>
        <div class="card mb-auto" style="width: 15rem;">
            <div class="card-header">
                <h5>
                    <%=hotdog[0].name%>
                </h5>
            </div>
            <ul class="list-group list-group-flush">
            <% for(let i = 0; i < hotdog[0].dishes.length; i++) { %>
                <li class="list-group-item">
                    <div class="d-flex justify-content-around">
                        <h6 class="food">
                            <%=hotdog[0].dishes[i].food%>
                        </h6>
                        <h6 class="price">
                           <%=hotdog[0].dishes[i].price%>
                        </h6>
                    </div>
                    
                    <p class="details">
                       <%=hotdog[0].dishes[i].details%>
                    </p>
                    <%- include('../partials/menu_buttons') %>      
                </li>
            <% } %>     
            </ul>
        </div>
        <div class="card mb-auto" style="width: 15rem;">
            <div class="card-header">
                <h5>
                    <%=burger[0].name%>
                </h5>
            </div>
            <ul class="list-group list-group-flush">
            <% for(let i = 0; i < burger[0].dishes.length; i++) { %>
                <li class="list-group-item">
                    <div class="d-flex justify-content-around">
                        <h6 class="food">
                            <%=burger[0].dishes[i].food%>
                        </h6>
                        <h6 class="price">
                           <%=burger[0].dishes[i].price%>
                        </h6>
                    </div>
                    
                    <p class="details">
                       <%=burger[0].dishes[i].details%>
                    </p>
                    <%- include('../partials/menu_buttons') %>      
                </li>
            <% } %>     
            </ul>
        </div>
        <div class="card mb-auto" style="width: 15rem;">
            <div class="card-header">
                <h5>
                    <%=wrap[0].name%>
                </h5>
            </div>
            <ul class="list-group list-group-flush">
            <% for(let i = 0; i < wrap[0].dishes.length; i++) { %>
                <li class="list-group-item">
                    <div class="d-flex justify-content-around">
                        <h6 class="food">
                            <%=wrap[0].dishes[i].food%>
                        </h6>
                        <h6 class="price">
                           <%=wrap[0].dishes[i].price%>
                        </h6>
                    </div>
                    
                    <p class="details">
                       <%=wrap[0].dishes[i].details%>
                    </p>
                    <%- include('../partials/menu_buttons') %>     
                </li>
            <% } %>     
            </ul>
        </div>
    </div>
</section>

 

