

 <div class="d-flex bd-highlight">
  <div class="p-2 flex-fill bd-highlight">
    <div class="d-flex flex-column bd-highlight">
    <% for(item of starter) { %>
       <h3><%= item.name %></h3>
       <hr id="hr">
       <div class="d-flex flex-wrap">
        <% for(i = 0; i < item.dishes.length; i++) { %>
           <div class="card" id="card" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="foods"><%= item.dishes[i].food%></h5>
                    <p><%= item.dishes[i].details%></p>
                    <h5 class="prices text-center"><%= item.dishes[i].price%></h5>
                    <%- include('../partials/order_buttons') %>
               </div>
           </div>
        <% } %>
       </div>
    <% } %>
    </div>
    <div class="d-flex flex-column bd-highlight">
    <% for(item of salad) { %>
       <h3><%= item.name %></h3>
       <hr id="hr">
       <div class="d-flex flex-wrap">
        <% for(i = 0; i < item.dishes.length; i++) { %>
           <div class="card" id="card" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="foods"><%= item.dishes[i].food%></h5>
                    <p><%= item.dishes[i].details%></p>
                    <h5 class="prices text-center"><%= item.dishes[i].price%></h5>
                    <%- include('../partials/order_buttons') %>
               </div>
           </div>
        <% } %>
       </div>
    <% } %>
    </div>
    <div class="d-flex flex-column bd-highlight">
    <% for(item of hotdog) { %>
       <h3><%= item.name %></h3>
       <hr id="hr">
       <div class="d-flex flex-wrap">
        <% for(i = 0; i < item.dishes.length; i++) { %>
           <div class="card" id="card" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="foods"><%= item.dishes[i].food%></h5>
                    <p><%= item.dishes[i].details%></p>
                    <h5 class="prices text-center"><%= item.dishes[i].price%></h5>
                    <%- include('../partials/order_buttons') %>
               </div>
           </div>
        <% } %>
       </div>
    <% } %>
    </div>
    <div class="d-flex flex-column bd-highlight">
    <% for(item of burger) { %>
       <h3><%= item.name %></h3>
       <hr id="hr">
       <div class="d-flex flex-wrap">
        <% for(i = 0; i < item.dishes.length; i++) { %>
           <div class="card" id="card" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="foods"><%= item.dishes[i].food%></h5>
                    <p><%= item.dishes[i].details%></p>
                    <h5 class="prices text-center"><%= item.dishes[i].price%></h5>
                    <%- include('../partials/order_buttons') %>
               </div>
           </div>
        <% } %>
       </div>
    <% } %>
    </div>

    <div class="d-flex flex-column bd-highlight">
    <% for(item of wrap) { %>
       <h3><%= item.name %></h3>
       <hr id="hr">
       <div class="d-flex flex-wrap">
        <% for(i = 0; i < item.dishes.length; i++) { %>
           <div class="card" id="card" style="width: 15rem;">
                <div class="card-body">
                    <h5 class="foods"><%= item.dishes[i].food%></h5>
                    <p><%= item.dishes[i].details%></p>
                    <h5 class="prices text-center"><%= item.dishes[i].price%></h5>
                    <%- include('../partials/order_buttons') %>
               </div>
           </div>
        <% } %>
       </div>
    <% } %>
    </div>

  </div>
  
  <div class="p-2 flex-fill mt-2 bd-highlight">
     
    <!-- <%- include('../partials/table') %> -->
    
  </div>
</div>

